extends layout

block content
  h1= title

  - let newspaperid = toShow._id
  - let name = toShow.name
  - let language = toShow.language
  - let price = toShow.price
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{newspaperid}
  - let actionid = "/resource/newspapers/" + newspaperid
  form(id='NewspaperForm', action= actionid, method="PUT")
    div.form-group
        label.newspaperAttr(for='name') Newspaper name
        input#name(type='text', name='name', value= name )
    div.form-group
        label.newspaperAttr(for='language') Newspaper language
        input#language(type='text', name='language', value= language )
    div.form-group
        label.newspaperAttr(for='price') Newspaper price
        input#price(type='number', name='price', value= price )
    input(type="submit")

  script.
    document.forms['NewspaperForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
